<h1>Posts: (<%= @posts.count %>) </h1>

<hr>
<% @posts.each do |f| %>
  <%= link_to f.title, f %>
  <br>
<% end %>

<hr>

<li><%= link_to "New", new_post_path %></li>
   <li><%= link_to "Log out", destroy_user_session_path, :method => :delete %></li>
        <% else %>
          <li><a href="<%= new_user_registration_path %>">Sign in</a></li>
          <li><a href="<%= new_user_session_path %>">Sign up</a></li>