<h1>Posts: (<%= @posts.count %>) </h1>

<hr>
<% @posts.each do |f| %>
  <%= link_to f.title, f %>
  <br>
<% end %>

<hr>
<%= link_to "New", new_post_path %>

<hr>
<h2>Categories: </h2>
<%= link_to "Motywacja", category_path("Motywacja") %>
<br>
<%= link_to "Zdrowie", category_path("Zdrowie") %>
<br>
<%= link_to "Dieta", category_path("Dieta") %>
<br>
<%= link_to "Rozwój", category_path("Rozwój") %>