<h1><%= @post.title %></h1>

<p><%= raw@post.description %> </p>

<p><%= @post.category %> </p>
<%= image_tag @post.avatar.url(:medium) %>
<br>
<%= link_to "Edit", edit_post_path(@post)%>
<%= link_to "Delete", @post, method: :delete, data:{confirm: "Are you sure?"}  %>
<hr>
<%= social_share_button_tag(@post.title) %>
<hr>
<p>Viewed: <%= @post.impressionist_count(:filter=>:ip_address) %> </p>
<hr>
<%= link_to "Back", root_path %>